<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nh.nsight.marketing.om.persistence.mapper.OmSampleMapper">
    <select id="selectSample" parameterType="com.nh.nsight.marketing.om.application.dto.sample.SampleSearchCriteria" resultType="com.nh.nsight.marketing.om.persistence.dto.sample.SampleRow">
        SELECT
            #{sampleKey} AS SAMPLE_KEY,
            'OM Sample' AS SAMPLE_NAME
    </select>
</mapper>

